body{
    margin: 0;
}

nav{
    background-color: #0088d6;
    height: auto;
    color: white;
    text-align: center;
    display: block;
    top: 0;
    width: 100%;
}
#xeki{
    margin: 0;
    font-size: 48px ;
    display: inline;
}
#demo , #reload{
    display: inline;
    font-size: 10px;
}

footer{
    display: block;
    bottom: 0;
    width: 100%;
    padding: 0!important;
}

.ful{
    width: 100%;
    padding: 0;
}

.flist{
    list-style: none;
    display: inline;
    text-align: center;
    background-color: #0088d6;
    height: auto;
    color: white;
}